@model Web_Shoes.Models.UserListModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}

<div id="page-wrapper">
    <div id="page-inner">

        <hr />
        <div class="row">
            <div class="col-lg-12 ">

                <div>
                    <h1>Details</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User_FirstName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User_FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User_UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User_UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User_Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User_Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User_Role)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User_Role)
                        </dd>
                    </dl>

                    
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.User_Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>




