@model IEnumerable<Web_Shoes.Models.ProductInCartModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sumprice = 0;
    int total = 0;
}

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                @foreach (var item in Model)
                                {
                                    sumprice += item.Quantity * item.ProductPrice;
                                    total += sumprice;
                                    <tr>
                                        <td>
                                            <div class="img">
                                                <a href="#"><img src="@item.ProductImg1" alt="Image"></a>
                                                <p>@item.ProductName</p>
                                            </div>
                                        </td>
                                        <td>$@item.ProductPrice</td>
                                        <td>@item.Color</td>
                                        <td>@item.Size</td>
                                        <td>
                                            <div class="qty">

                                                <input type="text" value="@item.Quantity" readonly>

                                            </div>
                                        </td>
                                        <td>$@sumprice</td>
                                        <td>
                                            <a href="/cart/remove?productid=@item.ProductId" class="fa fa-trash"></a>
                                        </td>
                                    </tr>
                                    sumprice = 0;


                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <form asp-action="AddCoupon" method="get">
                                    <input type="text" placeholder="Coupon Code" name="codecoupon">
                                    <button>Apply Code</button>
                                    
                                </form>
                                
                            </div>
                        </div>

                        <div class="col-md-12">
                            <span class="text-danger">@ViewBag.messagerCart</span>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>$@total</span></p>
                                    <p>Discount<span>$@ViewBag.Discount</span></p>
                                    <p>Shipping Cost<span>$1</span></p>

                                    @{ 
                                        int shiping = 1;
                                        int discount = ViewBag.Discount;
                                        total = total - discount - shiping;

                                        if (total <0)
                                        {
                                            total = 0;
                                        }
                                    }

                                    <h2>Total<span>$@total</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <a href="/" class="btn">Continue buy</a>
                                    <a href="/checkout" class="btn">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->