@{
    Layout = null;
}

<h3> casi thu 1   @ViewBag.cartId</h3>
<h3> casi thu 2   @ViewBag.cartHome</h3>
@{
    if (ViewBag.userId != null)
    {
        <h3> casi thu 3   @ViewBag.userId</h3>
        <h3> casi thu 4   @ViewBag.userName</h3>
    }

}
<h3> casi thu 5   @ViewBag.deviceId</h3>
